body{
  /* background-color: rgb(44, 41, 41); */
}

.buy-now-button{
  
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  background-color: black;

}

.see-all{
  color: orange;
  font-size: 30px;
  
  
  
}

.card{
  border: none;
  padding: 10px;
  box-shadow: 5px 10px 18px gray;
  border-radius: 10px;
  text-align: center;
}

.card-footer{
  background-color: white;
  border-top: none;
}

/* .carousel-indicators{
  color: black;
} */

.card-height{
  height: 10px;
}